.app-navbar-title {
  flex: 1;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.app-navbar-logout-btn {
  --bs-btn-padding-y: 0.25rem !important;
  --bs-btn-padding-x: 0.5rem !important;
  --bs-btn-font-size: 0.75rem !important;
}
