{{page-title "Registrarse"}}
<div class="container-fluid d-flex align-items-center py-4 bg-body-tertiary">
  <main class="login-form w-100 m-auto">
    <Auth::RegisterForm />

    <hr class="mt-4 mb-3 border-secondary-subtle">

    <div class="d-flex justify-content-end">
      <LinkTo class="link-secondary text-decoration-none" @route='login'>
        Ya tengo una cuenta
      </LinkTo>
    </div>
  </main>
</div>